{% extends 'base.html' %}
{% block title %}
About Covid
{% endblock %}
{% load mathfilters %}
{% load static %}

{% block content %}


<style media="screen">
  .width85{
    width:85%;
  }
</style>
<!-- Header -->
<div class="container center">

  <div class="row">
    <div class="s12 l12 m12 shadow">
      <h3>Coronavirus disease (COVID-19) Pandemic</h3>
    </div>
  </div>
</div>

<div class="container width85">
  <div class="row">
    <div class="col s12 l12 m12 shadow">
      <h3> Symptoms</h3>
      #As per WHO
      <div class="divider"></div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h6>
        <p>
          The COVID-19 virus affects different people in different ways.
          COVID-19 is a respiratory disease and most infected people will develop
          mild to moderate symptoms and recover without requiring special treatment.
          People who have underlying medical conditions and those over 60 years old have a
          higher risk of developing severe disease and death.
        </p>
      </h6>
    </div>
    <div class="col s12">
      <h5>Common symptoms include:</h5>

      <h6>
        <ol>
          <li>Fever</li>
          <li>Tiredness</li>
          <li >dry cough.</li>
        </ol>
        </h6>
        <h5>Other symptoms include:</h5>

        <h6>
        <ol>
          <li>shortness of breath</li>
          <li>aches and pains</li>
          <li>sore throat</li>
        </ol>
      </h6>
    </div>

    <div class="col s12">
      <h6>
        <p>
           *and very few people will report diarrhoea, nausea or a runny nose.
           People with mild symptoms who are otherwise healthy should self-isolate and
           contact their medical provider or a COVID-19 information line for advice on testing and referral.
           People with fever, cough or difficulty breathing should call their doctor and seek medical attention.
         </p>

      </h6>

    </div>

    <div class="col s12">
      <h5 class="shadow">To prevent infection and to slow transmission of COVID-19, do the following:</h5>
      <div class="divider"></div>
      <h6>
        <ol>

          <li >Wash your hands regularly with soap and water, or clean them with alcohol-based hand rub.</li>
          <li >Maintain at least 1 metre distance between you and people coughing or sneezing.</li>
          <li >Avoid touching your face.</li>
          <li >Cover your mouth and nose when coughing or sneezing.</li>
          <li >Stay home if you feel unwell.</li>
          <li >Refrain from smoking and other activities that weaken the lungs.</li>
          <li >Practice physical distancing by avoiding unnecessary travel and staying away from large groups of people.</li>

        </ol>
      </h6>

    </div>
    <div class="col s12">
      <h5 class="shadow">About Coronavirus</h5>
      <div class="divider"></div>
    </div>
    <div class="col s12">
      <h6>
<p>
  Coronaviruses are an expanded family of viruses which specifically affects the respiratory tracts of birds and mammals ( including humans).
  They can cause common cold, pneumonia, bronchitis, Severe Acute Respiratory Syndrome (SARS) and COVID-19.
  They are transmitted between animals and people and can infect mice, dogs, rats, cats, turkeys, horses, pigs and cattle. Sometimes these animals can transmit coronaviruses to humans however several known coronaviruses are circulating in animals that have not yet affected humans.
  Scientists first found evidence of human coronavirus in 1960s in the noses of people with common cold.
  The name 'corona' comes from the 'crown-like projections' on their surface. "Corona" in latin means "crown". Among humans coronavirus infections often occur during winter months.

</p>

<p>

  Most recently, a new corona virus outbreak was identified in Wuhan,China which has now reached other countries. It's name is Corona Virus Disease-2019 or COVID-19. It was newly discovered in 2019 and was never identified in humans previously.
  On January 31, 2020 the virus passed from one person to another in the U.S.
   WHO has declared "public health emergency".
   The first people with COVID-19 had links to an animal, this suggested that animals transmitted the virus to humans but people with a more recent diagnosis had no exposure to the market,  confirming that humans can pass the virus to each other.


</p>

<p>




           The virus that causes COVID-19 seems to be spreading easily it is mainly spread by people having  close contact with each other (less than 6 feet) and also through respiratory droplets produced when infected person coughs or sneezes.

          These droplets can reach the mouth or nose of people who are around and can be inhaled into the lungs and thus infecting the person.
          An infected person is considered to be most contagious when they are most symptomatic.
          But sometimes people without showing any symptoms can also spread the virus.
          The virus can also be spread through contaminated surface or object if one touches the surface which has the traces of virus on it and then touches his face, mouth, nose or eyes. Touching or shaking hands with the person who has the virus can pass the virus between individuals.
</p>



      </h6>

    </div>

  </div>

</div>





<!-- /.container -->
{% endblock %}
