{% extends 'base.html' %}
{% block title %}
India-Status
{% endblock %}
{% load mathfilters %}
{% load static %}

{% block content %}

<div class="container widthextra">
  <div class="heading padding_zero-fixed">
    <h4 class="shadow">
      Daily Counter | Global
    </h4>


    <div class="row">
        <div class="col s6 m4 l2">
          <div class="card ">
            <div class="card-content shadow">
              <span class="card-title counter-count">1232</span>
              <p>
                Confirmed Cases <br>
              </p>
            </div>
          </div>
        </div>

        <div class="col s6 m4 l2">
          <div class="card">
            <div class="card-content shadow">
              <span class="card-title counter-count">322</span>
              <p>
                Cases as per MoHFW <br>
              </p>
            </div>
          </div>
        </div>

        <div class="col s6 m4 l2">
          <div class="card">
            <div class="card-content shadow">
              <span class="card-title counter-count">5432</span>
              <p>
                Deaths <br>

              </p>
            </div>
          </div>
        </div>

        <div class="col s6 m4 l2">
          <div class="card">
            <div class="card-content shadow">
              <span class="card-title counter-count">211</span>
              <p>
                Recovered <br>

              </p>
            </div>
          </div>
        </div>

        <div class="col s6 m4 l2">
          <div class="card">
            <div class="card-content shadow">
              <span class="card-title counter-count">432</span>
              <p>
                Active Cases <br>

              </p>
            </div>
          </div>
        </div>

        <div class="col s6 m4 l2">
          <div class="card ">
            <div class="card-content shadow">
              <span class="card-title counter-count">200000</span>
              <p>
                Testing Count <br>

              </p>
            </div>
          </div>
        </div>


    </div>
    <!-- row -->
    </div>
    <!-- heading end -->

<div class="divider pdd"></div>

    <div class="row">
      <div class="col hide-on-small-only m6 l5">

        <div class="card">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#myChart_line">Test 1</a></li>
            <li class="tab"><a class="active" href="#myChart_bar">Test 2</a></li>

          </ul>
        </div>
        <div class="card-content indigo lighten-5">
          <!-- <div id="test4">Test 1</div> -->
          <canvas id="myChart_bar" width="400" height="300"></canvas>
          <!-- <div id="test5">Test 2</div> -->
          <canvas id="myChart_line" width="400" height="300"></canvas>

        </div>
        </div>

      </div>
      <div class="col s12 m6 l7">
        <table class="highlight">
          <thead>
            <tr>
                <th>Name</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
          </tbody>
        </table>
        <div class="divider pdd"></div>
      </div>


      <div class="box">

      <div class="row">
        <div class="col s12 m6 l5 padding_top indigo lighten-5 heightMatch">
          <canvas id="myChart_horizontal_bar" style="width:100%; height:100%;">Test 2</canvas>

        </div>
        <div class="col s12 m6 l7 padding_top">
          <ul class="collapsible popout">


            {% for i in "iiiii"%}

            <li>
              <div class="collapsible-header">

                <div class="row padding_zero">
                  <div class="col s12 m12 l4 padding_zero">
                    <h6>Uttar Pradesh</h6>
                    <div class="progress">
                        <div class="determinate" style="width: 70%"></div>
                    </div>
                  </div>
                  <div class="col s4 m4 l3  padding_zero">
                    Confirmed Cases
                    <div>
                      1234
                    </div>
                  </div>

                  <div class="col s4 m4 l3 padding_zero">
                    Recovered
                    <div>
                      1234
                    </div>
                  </div>

                  <div class="col s4 m4 l2 padding_zero">
                    Deaths
                    <div>
                      1234
                    </div>
                  </div>
                </div>

              </div>
              <div class="collapsible-body">
                <span>
                  <table class="highlight">
                    <thead>
                      <tr>
                          <th>Name</th>
                          <th>Item Name</th>
                          <th>Item Price</th>
                      </tr>
                    </thead>

                    <tbody class="subtable">
                      <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>$0.87</td>
                      </tr>
                      <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                        <td>$3.76</td>
                      </tr>
                      <tr>
                        <td>Jonathan</td>
                        <td>Lollipop</td>
                        <td>$7.00</td>
                      </tr>
                      <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>$0.87</td>
                      </tr>
                      <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                        <td>$3.76</td>
                      </tr>
                      <tr>
                        <td>Jonathan</td>
                        <td>Lollipop</td>
                        <td>$7.00</td>
                      </tr>
                      <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>$0.87</td>
                      </tr>
                      <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                        <td>$3.76</td>
                      </tr>
                      <tr>
                        <td>Jonathan</td>
                        <td>Lollipop</td>
                        <td>$7.00</td>
                      </tr>
                    </tbody>
                  </table>
                </span>
              </div>
            </li>

            {% endfor %}

          </ul>
        </div>

    </div>
  </div>


  </div>
  <div class="row">
    <div class="col s12 l12 m12 indigo lighten-5">

      <div id="visualization" style="margin: 1em"> </div>
    </div>

  </div>
</div>
<!-- container -->




{% endblock %}
